/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Temporary settings */

div.box {
    padding: 20px 0;
    text-align: center;
}

/* Settings container and row */

div.container {
    max-width: 1170px;
    margin: 0 auto 50px;
    
}

div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* settings column  */

div.col-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    border: 2px solid black;

    /* TEST */
    background-color: aqua;
}

/* Settings green box and column inside */

div.box.green {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.box.green > .col-2,
div.box.green > .col-8,
div.box.green > .col-6 {
    border: aqua 3px solid;
    background-color: greenyellow;
}

/* settings offset column */

div.col-offset-1 {
    margin-left: calc((100% / 12) * 1);
}

div.col-offset-2 {
    margin-left: calc((100% / 12) * 2);
}

div.col-offset-3 {
    margin-left: calc((100% / 12) * 3);
}

div.col-offset-4 {
    margin-left: calc((100% / 12) * 4);
}

div.col-offset-5 {
    margin-left: calc((100% / 12) * 5);
}

div.col-offset-6 {
    margin-left: calc((100% / 12) * 6);
}

div.col-offset-7 {
    margin-left: calc((100% / 12) * 7);
}

div.col-offset-8 {
    margin-left: calc((100% / 12) * 8);
}

div.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}

div.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}

div.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}
