/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Settings container and row */

div.container {
    max-width: 1170px;
    margin: 0 auto;
    
}

div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* settings column  */

div.col-1 {
    flex-basis: calc((100% / 12) * 1);
    border: 4px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-2 {
    flex-basis: calc((100% / 12) * 2);
    border: 4px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-6 {
    flex-basis: calc((100% / 12) * 6);
    border: 4px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-8 {
    flex-basis: calc((100% / 12) * 8);
    border: 4px solid black;

    /* TEST */
    background-color: aqua;
}

div.col-12 {
    flex-basis: calc((100% / 12) * 12);
    border: 4px solid black;

    /* TEST */
    background-color: aqua;
}
/* Temporary settings */

div.box {
    padding: 20px 0;
    text-align: center;
}

div.box.green {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

/* Settings green box and column inside */

div.box.green > .col-2,
div.box.green > .col-8,
div.box.green > .col-6 {
    border: aqua 3px solid;
    background-color: greenyellow;
}
